<div class="page-layout simple fullwidth" layout="row">
    <div id="tracking-map" flex>

        <div flex id="control-centrales">
            <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                <md-nav-item
                        ng-repeat="central in vm.centrales"
                        md-nav-click="vm.trackingCentral(central)" >
                    {{central.ciudad}}
                </md-nav-item>
            </md-nav-bar>
        </div>

        <div id="controles-right">
            <div id="control-conductor-selected">
                <md-list class="md-dense" ng-if="vm.conductor">
                    <md-list-item class="md-3-line">
                        <img ng-if="!vm.conductor.imagen" alt="{{ vm.conductor.identificacion }}" ng-src="assets/images/profile.jpg" class="md-avatar" />
                        <img ng-if="vm.conductor.imagen" alt="{{ vm.conductor.identificacion }}" ng-src="http://api.viajaseguro.co/images/conductores/{{ vm.conductor.imagen }}" class="md-avatar" />
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ vm.conductor.nombre }}</h3>
                            <h4>{{ vm.conductor.estado }}</h4>
                            <p>{{ vm.conductor.distancia }}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
            <div id="control-conductores-stats">
                <md-list class="md-dense">
                    <md-list-item>
                        <h3>Conductores</h3>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <p>En turno:</p>
                        <span class="md-secondary">{{en_turno}}</span>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <p>En ruta:</p>
                        <span class="md-secondary">{{en_ruta}}</span>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <p>Disponibles:</p>
                        <span class="md-secondary">{{disponibles}}</span>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <p>Ausentes</p>
                        <span class="md-secondary">{{ausentes}}</span>
                    </md-list-item>
                </md-list>
            </div>
        </div>
        
        <ng-map center="{{vm.simpleMap.center}}" zoom="{{vm.simpleMap.zoom}}"
                trigger-resize="true"
                map-type-control-options="{style:'HORIZONTAL_BAR', position:'TOP_RIGHT'}"
                zoom-control="true"
                zoom-control-options="{style:'LARGE', position:'LEFT_CENTER'}"
                street-view-control="false"
                street-view-control-options="{position:'LEFT_TOP'}">

            <marker ng-repeat="marker in vm.markers" 
                position="{{marker.pos}}" 
                zIndex="100"  
                label="{{marker.codigo}}"
                on-click="vm.showInfo(event, marker)"
                icon="assets/images/marker_vehiculo.png">
            </marker>
                
            <custom-marker ng-if="vm.selectCentral.pos"
                zIndex="1"
                position="{{vm.selectCentral.pos}}">
                <div id="central">
                    <img ng-if="currentUser.empresa.logo" alt="image" class="user-imagen" 
                    ng-src="http://api.viajaseguro.co/images/empresas/{{currentUser.empresa.logo}}">
                </div>
            </custom-marker>

            <custom-marker ng-repeat="marker in vm.centrales_markers"
                scale="0.7"
                position="{{marker.pos}}">
                <div id="otras-centrales">
                    <img ng-if="currentUser.empresa.logo" alt="image" class="user-imagen" 
                    ng-src="http://api.viajaseguro.co/images/empresas/{{currentUser.empresa.logo}}">
                </div>
            </custom-marker>

        </ng-map>
    </div>
</div>

