#tracking-map {
  ng-map {
      height: 100% !important;
  }

  #control-centrales {
    padding: 0 !important;
    margin: 10px;
    position: absolute !important;
    z-index: 10;
    .md-nav-bar {
      border: 0 !important;
      height: 31px;
      .md-nav-item {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255) !important;
        box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
        height: 31px;
        &:first-child {
          margin: 0;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }
        &:last-child {
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }
        ._md-nav-button{
          text-align: center;
          text-transform: capitalize;
          font-size: 11px;
          font-weight: 400;
          color: rgb(86, 86, 86);
          padding: 3.5px 7px;
          margin: 0;
          min-height: 31px;
          &.md-active{
            font-weight: 500;
            color: rgb(0, 0, 0);
          }
        }
      }
      md-nav-ink-bar{
        background-color: $primary-color;
      }
    }
  }

  #controles-right {
    position: absolute !important;
    z-index: 10;
    bottom: 7px;
    right: 0;
    md-list{
      padding: 0;
      md-list-item {
        min-height: 35px;
        .md-secondary{
          color: $primary-color;
        }
      }
    }
  }

  #control-conductor-selected {
    background-color: white !important;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    margin: 10px;
    min-width: 250px;
    img {
      width: 50px;
      height: 50px;
      margin: 12px 10px 12px 0;
    }
  }

  #control-conductores-stats {
    color: whitesmoke;
    background-color: #676a6c !important;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    margin: 10px;
    min-width: 250px;
  }

  .custom-marker { 
    opacity: 0.8;
    z-index: 0;
    &:before {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 7px 6px 0;
      border-color:  $primary-color transparent;
      display: block;
      width: 0;
      z-index: 0;
      margin-left: -6px;
      bottom: -7px;
      left: 50%;
    }

    &:after {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 7px 6px 0;
      border-color: $primary-color transparent;
      display: block;
      width: 0;
      z-index: 1;
      margin-left: -6px;
      bottom: -6px;
      left: 50%;
    }
  }

  #central {
    font-size: 2em;
    padding: 5px;
    background: $primary-color;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    text-align: center;
    opacity: 1;
    z-index: 0;
    .user-imagen {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  #otras-centrales {
    font-size: 2em;
    padding: 2px;
    background: $primary-color;
    width: 34px;
    height: 34px;
    border-radius: 50px;
    text-align: center;
    opacity: 1;
    z-index: 0;
    .user-imagen {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }

  #otras-centrales {
    
  }
}