#panel-despacho {
  border: 2px solid $primary-color;
  border-radius: 15px;
  margin: 7px;

  #head {
    height: 45px !important;
    line-height: 15px;
    section {
      margin: 0 5px;
      button {
        background-color: whitesmoke;
        margin: 0;
        padding: 0 3px;
        height: 25px !important;
        min-height: 25px !important;
        line-height: 25px;
        border-radius: 0;
        border: 1px solid #e1e1e1;
        border-right: 0;

        span {
          text-transform: capitalize;
        }
      }
      button:hover {
        color: $primary-color;
      }
      button.first {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }
      button.last {
        min-width: 25px !important;
        border-right: 1px solid #e1e1e1;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
      button.selected {
        background-color: $primary-color;
        border-color: $primary-color;
        color: white;
      }
      button.selected:hover {
        color: white;
      }
    }
  }

  md-divider {
    height: 2px;
    background-color: $primary-color;
  }

  #lista-conductores {
    min-width: 245px !important;
  }

  #info-despacho {
    border: 1px solid $primary-color;
    border-radius: 15px;
    margin-left: 10px;
    background-color: #ededed;
    md-content {
      background-color: transparent;
    }

    md-pagination-wrapper, md-tabs-canvas {
      height: 29px !important;
    }

    md-tabs-content-wrapper {
      top: 29px !important;
    }

    md-tab-item {
      padding: 0px 20px 5px 20px !important;

      .md-icon-tab {
        color: white !important;
        background-color: #94c11e !important;
        border-radius: 50% !important;
      }
    }
    .form-viajero {
      margin-right: 1px!important;
      background-color: white !important;
      border-radius: 15px;
      border: 1px solid $primary-color;
      md-input-container{
        margin: 0 !important;
        .md-errors-spacer{
          min-height: 0 !important;
        }
      }
      .md-icon-button {
        margin: 0 !important;
      }
      .md-icon-button:disabled{
        md-icon {
          color: #b9c1b1;
        }
      }
      md-icon {
        color: #94c11e;
      }
      #delete md-icon {
        color: #f00000;
      }
    }

    #valor-viaje {
      border: 1px solid $primary-color;
      border-radius: 15px;
      background-color: white;
      padding: 5px 10px;
      md-input-container{
        margin: 0 !important;
        input {
          height: 25px!important;
          text-align: right;
          font-weight: bold;
        }
        .md-errors-spacer{
          min-height: 0 !important;
        }
      }
    }
  }

  #solicitudes {
    //################################################3333
    .content-floating-solicitudes{
      border-radius: 15px !important;
      border: 1px solid $primary-color !important;
    }

    .md-lista-solicitudes {
      height: 30px !important;
    }

  }

  .content-lista {
    margin-top: 3px;
    .todo-list-pane {
      background: white;
      &.single-scroll {

        .todo-list-pane {
          overflow: hidden;
        }
      }

      .todo-items {
        overflow-x: hidden;
      }
    }

    .todo-item {
      border: 1px solid $primary-color;
      margin-bottom: 5px !important;
      margin-right: 1px !important;
      border-radius: 15px !important;
      background-color: white;
      position: relative;
      padding: 6px;
      text-transform: none;
      cursor: pointer;

      &:hover{
        color: $primary-color !important;
      }

      .info {
        margin: 0 16px 0 8px;

        .md-icon-button {
          margin: 0 !important;
          padding: 8px 0 !important;
          max-width: 30px !important;
          margin-left: -10px !important;
        }

        .title {
          font-size: 15px;
          font-weight: 500;
        }

        .notes {
          margin-top: 4px;
        }
      }
    }

    .md-menu-solicitudes {
      md-fab-speed-dial {
        top: 0 !important;
        bottom: 0px !important;
        right: 0 !important;
        max-height: 100% !important;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        opacity: 0.85;
        &.md-is-open{
          background-color: rgb(255, 255, 251);
        }

        md-icon {
          font-size: 30px !important;
        }
      }
      .icon {

      }
    }
  }

  .title-info {
    margin-top: -5px !important;
    margin-bottom: 5px;
    color: $primary-color;
  }

  .button-add {
    background-color: #94c11e;
    width: 28px;
    height: 28px;
    min-height: 28px;
    margin: 0 !important;
    padding-left: 3px;
    line-height: 27px;
    md-icon {
      position: relative;
      left: -1px;
    }
    //left: 10px;
  }
}

.list-conductores {
  &, md-list {
    padding: 0 !important;
  }
  max-height: 301px !important;

  .ps-scrollbar-y-rail {
    top: 0!important;
  }
}

#search-conductor {
  margin: 0 !important;
  .md-errors-spacer{
    min-height: 0 !important;
  }
}

