#panel-despacho {
  border: 2px solid $primary-color;
  border-radius: 15px;
  margin: 7px;

  #head {
    height: 45px !important;
    line-height: 15px;
    section {
      margin: 0 5px;
      button {
        background-color: whitesmoke;
        margin: 0;
        padding: 0 3px;
        height: 25px !important;
        min-height: 25px !important;
        line-height: 25px;
        border-radius: 0;
        border: 1px solid #e1e1e1;
        border-right: 0;

        span {
          text-transform: capitalize;
        }
      }
      button:hover {
        color: $primary-color;
      }
      button.first {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }
      button.last {
        min-width: 25px !important;
        border-right: 1px solid #e1e1e1;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
      button.selected {
        background-color: $primary-color;
        border-color: $primary-color;
        color: white;
      }
      button.selected:hover {
        color: white;
      }
    }
  }

  md-divider {
    height: 2px;
    background-color: $primary-color;
  }

  #lista-conductores{
    .dnd-conductores{
      margin-left: -50px !important;
    }
  }


  #lista-conductores {
    min-width: 200px !important;
    .image-dnd-list{
      text-align: center;
      margin-top: -30px;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: none !important;
    }
    .text-turno{
      position: inherit;
      margin-top: 10px;
      margin-left: -60px;
      font-size: 15px;
    }
    .button-quitar-turno{
      margin-top: -10px !important;
      margin-right: -60px;
      float: right !important;
    }
  }
  .md-menu-solicitudes {
    .icon {
      margin-top: -10px;
      margin-left: -12px;
    }
  }
  .md-lista-solicitudes {
    height: 30px !important;
  }

  #info-despacho {
    border: 1px solid $primary-color;
    border-radius: 15px;
    margin-left: 10px;
    background-color: gainsboro;
    opacity: 10;
    md-content {
      background-color: gainsboro;
    }
    md-tabs {
      margin-top: -15px !important;;
      background-color: gainsboro;
    }
    .md-icon-tab {
      color: white !important;
      background-color: #94c11e !important;
      border-radius: 50% !important;
    }

    .form-viajero {
      background-color: white !important;
      border-radius: 15px;
      border: 1px solid $primary-color;
      md-icon {
        color: #94c11e;
      }
    }
  }

  #solicitudes {
    .content-lista {
      overflow: hidden;
      margin-left: -23px !important;
      margin-right: -23px !important;
      .todo-list-pane {
        background: white;
        &.single-scroll {

          .todo-list-pane {
            overflow: hidden;
          }
        }

        .todo-items {
          overflow-x: hidden;
        }
      }

    }

    .todo-item {
      border: 1px solid $primary-color;
      margin-bottom: 5px !important;
      border-radius: 15px !important;
      position: relative;
      padding: 6px;
      text-transform: none;
      cursor: pointer;

      &.todo-item-placeholder {
        border-radius: 15px !important;
        background: rgba(0, 0, 0, 0.12);
        * {
          border-radius: 15px !important;
          opacity: 0;
        }
      }


      .info {
        margin: 0 16px 0 8px;

        .title {
          font-size: 15px;
          font-weight: 500;
        }

        .notes {
          margin-top: 4px;
        }
      }
    }

    .todo-item-ghost {
      opacity: 1 !important;
      background: #FFFFFF;
      box-shadow: $whiteframe-shadow-14dp;
      border: none;

      .md-ripple-container {
        display: none;
      }
    }

    .content-floating-solicitudes{
      border-radius: 15px !important;
      border: 1px solid $primary-color !important;
    }

  }

  .title-info {
    margin-top: -5px !important;
    color: $primary-color;
  }

  .button-add {
    background-color: #94c11e;
    width: 28px;
    height: 28px;
    min-height: 28px;
    margin: 0 !important;
    padding-left: 3px;
    line-height: 27px;
    md-icon {
      position: relative;
      left: -1px;
    }
    //left: 10px;
  }
}

