<div id="gestion-centrales" class="page-layout simple fullwidth gestion-page" layout="row">
    <div class="center scrollable" layout="column">
        <!-- HEADER -->
        <div class="header">
            <div class="header-content" layout="column" layout-align="space-between">
                <div class="h1" layout="row" layout-align="start center">
                    <!--<md-icon md-font-icon="icon-store"></md-icon>-->
                    <span>Centrales</span>
                </div>
            </div>
            <md-button flow-btn class="add-file-button md-fab md-warn" aria-label="Nueva central"
                       ng-click="vm.showCrearCentral()">
                <md-icon md-font-icon="icon-plus"></md-icon>
                <md-tooltip><span>Nueva central</span></md-tooltip>
            </md-button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <md-content class="content" flex ms-scroll>
            <table class="simple list-view">
                <thead>
                <tr>
                    <th></th>
                    <th>Ciudad</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="central in vm.centrales | filter: filtro"
                    ng-click="vm.selectCentral(central)"
                    ng-class="{'selected' : vm.central.id === central.id}">
                    <td class="name" hide-xs>{{central.id}}</td>
                    <td class="type">{{central.ciudad.nombre}}</td>
                </tr>
                </tbody>
            </table>
        </md-content>
        <!-- / CONTENT -->
    </div>
    <div id="detalles" class="bordered mt-10 mr-10 mb-10 p-10" layout="row" flex>
        <div id="info" layout="column" flex="20" ng-hide="!vm.central.id">
            <h1>{{vm.central.ciudad.nombre}}</h1>
            <md-list flex>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <p>Direccion:</p>
                        <h3>{{vm.central.direccion}}</h3>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <p>Telefono:</p>
                        <h3>{{vm.central.telefono}}</h3>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <p>Nombre de usuario:</p>
                        <h3>{{vm.central.user.username}}</h3>
                    </div>
                </md-list-item>
                <br>
                <md-divider></md-divider>
                <md-content id="rutas" class="content" flex ms-scroll>
                    <md-subheader>
                        <span>Rutas</span>
                        <ng-include src="'app/main/empresas/gestion_centrales/floating_form.tmpl.html'"></ng-include>
                    </md-subheader>
                    <md-list-item ng-repeat="ruta in vm.central.rutas" class="md-2-line"
                                  ng-click="vm.selectRuta(ruta)"
                                  ng-class="{'selected' : vm.selectedRuta.id === ruta.id}">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ruta.nombre_ciudad}}</h3>
                            <h4>{{ruta.trayecto}}</h4>
                        </div>
                    </md-list-item>
                </md-content>
            </md-list>
        </div>
        <form id="form" layout="column" layout-align="start" flex="20" name="newCentralForm" ng-show="!vm.central.id && vm.crearCentral">
            <h1>Nueva Central</h1>
            <md-autocomplete flex required
                             md-input-name="departamentos"
                             md-selected-item="vm.selectedDepartamento"
                             md-search-text="vm.searchTextD"
                             md-items="departamento in vm.querySearch(vm.searchTextD, vm.departamentos)"
                             md-selected-item-change="vm.loadCiudades(departamento.id)"
                             md-item-text="departamento.nombre"
                             md-require-match
                             md-floating-label="Departamento">
                <md-item-template>
                    <span md-highlight-text="vm.searchTextD" md-highlight-flags="i">{{departamento.nombre}}</span>
                </md-item-template>
                <md-not-found>
                    No hay coincidencias para {{vm.searchTextD}}
                </md-not-found>
                <div ng-messages="newCentralForm.departamentos.$error" ng-if="newCentralForm.departamentos.$touched">
                    <div ng-message="required">Este campo es obligatorio..</div>
                    <div ng-message="md-require-match">Por favor, seleccione un departamento existente.</div>
                </div>
            </md-autocomplete>
            <md-autocomplete flex required
                             ng-disabled="!vm.selectedDepartamento"
                             md-input-name="ciudad"
                             md-selected-item="vm.selectedCiudad"
                             md-search-text="vm.searchText"
                             md-items="ciudad in vm.querySearch(vm.searchText, vm.ciudades)"
                             md-item-text="ciudad.nombre"
                             md-require-match
                             md-floating-label="Ciudad">
                <md-item-template>
                    <span md-highlight-text="vm.searchText" md-highlight-flags="i">{{ciudad.nombre}}</span>
                </md-item-template>
                <md-not-found>
                    No hay coincidencias para {{vm.searchText}}
                </md-not-found>
                <div ng-messages="newCentralForm.ciudad.$error" ng-if="newCentralForm.ciudad.$touched">
                    <div ng-message="required">Este campo es obligatorio..</div>
                    <div ng-message="md-require-match">Por favor, seleccione una ciudad existente.</div>
                </div>
            </md-autocomplete>
            <div layout="row">
                <md-input-container flex>
                    <label>Direccion</label>
                    <input name="nombre" ng-model="vm.central.direccion" ng-enter="vm.geocode()" required>
                    <div ng-messages="newCentralForm.nombre.$error">
                        <div ng-message="required">Este campo es obligatorio.</div>
                    </div>
                </md-input-container>
                <md-button class="md-icon-button" ng-click="vm.geocode()" ng-disabled="!vm.selectedCiudad" aria-label="geocode">
                    <md-icon md-font-icon="icon-map-marker-radius" class="icon"></md-icon>
                </md-button>
            </div>
            <md-input-container flex>
                <label>Telfono</label>
                <input name="nombre" ng-model="vm.central.telefono" required>
                <div ng-messages="newCentralForm.nombre.$error">
                    <div ng-message="required">Este campo es obligatorio.</div>
                </div>
            </md-input-container>
            <fieldset class="datos-usuario-empresa" layout="column">
                <legend>Datos de usuario</legend>
                <md-input-container flex>
                    <label>Nombre de usuario</label>
                    <input name="username" ng-model="vm.central.user.username" required>
                    <div ng-messages="newCentralForm.username.$error">
                        <div ng-message="required">Digita el nombre de usuario</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Contrase&ntilde;a</label>
                    <input type="password" name="password" ng-model="vm.central.user.password" required>
                    <div ng-messages="newCentralForm.password.$error">
                        <div ng-message="required">Este campo es obligatorio.</div>
                    </div>
                </md-input-container>
            </fieldset>
            <div layout="row" layout-align="center">
                <md-button class="boton-guardar-dialog brad-30" ng-disabled="newCentralForm.$invalid" ng-click="vm.save()">
                    Guardar
                </md-button>
                <md-button class="boton-cancel-dialog brad-30" ng-click="vm.cancel()">
                    Cancelar
                </md-button>
            </div>
        </form>
        <div id="no-select" class="align-vertical text-center" ng-hide="vm.central" flex="20">
            Seleccione una central
        </div>
        <div id="mapa" flex>
            <ng-map center="[{{vm.simpleMap.center.lat}}, {{vm.simpleMap.center.lng}}]" zoom="{{vm.simpleMap.zoom}}">
                <marker ng-if="!vm.destino_ruta"
                        position="{{vm.my_position}}">
                </marker>
                <directions
                        ng-if="vm.destino_ruta"
                        travel-mode="DRIVING"
                        origin="{{vm.origen_ruta}}, Colombia"
                        destination="{{vm.destino_ruta}}, Colombia">
                </directions>
                <custom-control ng-if="vm.destino_ruta" id="ruta" position="TOP_RIGHT" index="1">
                    <div class="map-control-1">
                        Oringen: {{vm.origen_ruta}} | Destino: {{vm.destino_ruta}}
                    </div>
                </custom-control>
            </ng-map>
        </div>
        <!--<div id="mapa-directions" flex ng-show="vm.showMapaDirections">-->
            <!--<ng-map center="[{{vm.simpleMap.center.lat}}, {{vm.simpleMap.center.lng}}]" zoom="{{vm.simpleMap.zoom}}">-->
                <!---->
            <!--</ng-map>-->
        <!--</div>-->
    </div>
</div>

