<div id="gestion-centrales" class="page-layout simple fullwidth gestion-page" layout="row">
    <div class="center scrollable" layout="column">
        <!-- HEADER -->
        <div class="header">
            <div class="header-content" layout="column" layout-align="space-between">
                <div class="h1" layout="row" layout-align="start center">
                    <!--<md-icon md-font-icon="icon-store"></md-icon>-->
                    <span>Centrales</span>
                </div>
            </div>
            <md-button flow-btn class="add-file-button md-fab md-warn" aria-label="Nueva central"
                       ng-click="vm.showCrearCentral()">
                <md-icon md-font-icon="icon-plus"></md-icon>
                <md-tooltip><span>Nueva central</span></md-tooltip>
            </md-button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <md-content class="content" flex ms-scroll>
            <table class="simple list-view">
                <thead>
                <tr>
                    <th></th>
                    <th>Ciudad</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="central in vm.centrales | filter: filtro"
                    ng-click="vm.selectCentral(central)"
                    ng-class="{'selected' : vm.central.id === central.id}">
                    <td class="name" hide-xs><md-icon md-font-icon="icon-flickr-before"></md-icon></td>
                    <td class="type">{{central.ciudad}}</td>
                </tr>
                </tbody>
            </table>
        </md-content>
        <!-- / CONTENT -->
    </div>
    <div id="detalles" class="bordered mt-10 mr-10 mb-10 p-10" layout="row" flex>
        <ng-include src="'app/main/empresas/gestion_centrales/info_central/info_central.tmpl.html'"
                    ng-controller="InfoCentralesController as vm_info" flex="45" ng-hide="!vm.central.id"></ng-include>
        <ng-include src="'app/main/empresas/gestion_centrales/new_central/new_central.tmpl.html'"
                    flex="45" ng-show="!vm.central.id && vm.crearCentral"></ng-include>
        <div id="no-select" class="align-vertical text-center" ng-hide="vm.central" flex="45">
            Seleccione una central
        </div>
        <div id="mapa" flex>
            <ng-map center="[{{vm.simpleMap.center.lat}}, {{vm.simpleMap.center.lng}}]" zoom="{{vm.simpleMap.zoom}}">
                <marker ng-if="!vm.destino_ruta"
                        position="{{vm.my_position}}">
                </marker>
                <directions
                        ng-if="vm.destino_ruta"
                        travel-mode="DRIVING"
                        origin="{{vm.origen_ruta}}, Colombia"
                        destination="{{vm.destino_ruta}}, Colombia">
                </directions>
                <custom-control ng-if="vm.destino_ruta" id="ruta" position="TOP_RIGHT" index="1">
                    <div class="map-control-1">
                        Oringen: {{vm.origen_ruta}} | Destino: {{vm.destino_ruta}}
                    </div>
                </custom-control>
            </ng-map>
        </div>
    </div>
</div>

