<md-menu>
    <md-button class="md-icon-button" aria-label="add-ruta"
               ng-click="$mdOpenMenu($event)">
        <md-icon md-font-icon="icon-plus" class="icon"></md-icon>
    </md-button>
    <md-menu-content width="4" class="floatingForm">
        <form name="formNewRuta">
            <md-menu-item id="titulo">
                <h4>Crear nueva ruta</h4>
            </md-menu-item>
            <md-menu-item>
                <md-input-container flex>
                    <label>Origen</label>
                    <input name="origen"
                           required places-auto-complete size=80
                           ng-model="vmf.origen_place"
                           component-restrictions="{country:'co'}"
                           types="['(regions)']"
                           on-place-changed="vmf.OrigenChanged()"
                           placeholder="Introduce una ubicación">
                    <div ng-messages="newCentralForm.origen.$error">
                        <div ng-message="required">Este campo es obligatorio.</div>
                    </div>
                </md-input-container>
            </md-menu-item>
            <md-menu-item>
                <md-input-container flex>
                    <label>Destino</label>
                    <input name="destino"
                           required places-auto-complete size=80
                           ng-model="vmf.destino_place"
                           component-restrictions="{country:'co'}"
                           types="['(regions)']"
                           on-place-changed="vmf.DestinoChanged()"
                           placeholder="Introduce una ubicación">
                    <div ng-messages="newCentralForm.destino.$error">
                        <div ng-message="required">Este campo es obligatorio.</div>
                    </div>
                </md-input-container>
            </md-menu-item>
            <md-menu-item>
                <md-input-container flex id="trayecto">
                    <label>Trayecto</label>
                    <input name="trayecto" ng-model="vmf.trayecto_ruta" placeholder="Pueblos intermedios">
                </md-input-container>
            </md-menu-item>
            <md-menu-item>
                <div layout="row" id="actions" layout-align="center">
                    <md-button class="boton-guardar-dialog brad-30"
                               ng-disabled="!vmf.destino || !vmf.origen"
                               md-prevent-menu-close="md-prevent-menu-close"
                               ng-click="vmf.saveNewRuta(vm.central)">
                        Guardar
                    </md-button>
                    <md-button class="boton-cancel-dialog brad-30"
                               md-prevent-menu-close="md-prevent-menu-close"
                               ng-click="vmf.cancelNewRuta()">
                        Cancelar
                    </md-button>
                </div>
            </md-menu-item>
        </form>
    </md-menu-content>
</md-menu>