.dnd-conductores{
    min-width: 220px;

    div[ng-sortable]{
        margin: 0;
        padding: 0;

        .collection-item {
            position: relative;
            border-radius: $radio !important;
            text-align: center;
            background-color: #EDEDED;
            display: block;
            float: left;
            height: 125px;
            width: 100%;
            min-width: 220px;
            margin-bottom: 10px;
            cursor: move;

            &:last-child {
                margin-bottom: 0px;
            }

            &.selected {
                background-color: $primary-color;
                * {color: white !important;}
            }

            .image-dnd-list{
                text-align: center;
                margin-top: -30px;
                margin-bottom: 5px;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                border: none !important;
            }
            .text-turno{
                font-size: 16px;
                margin: 0 6px;
                padding: 8px;
            }
            .button-quitar-turno{
                margin-right: 3px;
            }
            .title{
                font-size: 1.4rem !important;
                font-weight: bold;
                display:inline-block;
                width: 90%;
                white-space: nowrap;
                overflow:hidden !important;
                text-overflow: ellipsis;
            }
        }

        .item-ghost {
            opacity: .3;
        }
    }
}
