<h2 class="title-info"><b>Conductores</b>
    <md-button class="button-add md-fab" aria-label="Nuevo conductor" ng-click="vmconductores.addConductor()">
        <md-icon md-font-icon="icon-plus"></md-icon>
        <md-tooltip><span>Nueva conductor en la ruta</span></md-tooltip>
    </md-button>
</h2>
<md-content class="dnd-conductores" ms-scroll="{suppressScrollX: true}">
    <div ng-show="vmconductores.turnos.length">
        <ul dnd-list="vmconductores.turnos">
            <li ng-repeat="turno in vmconductores.turnos | orderBy: 'pos'"
                dnd-draggable="turno" layout="column"
                dnd-moved="vmconductores.turnos.splice($index, 1)"
                dnd-effect-allowed="move"
                dnd-selected="vmconductores.selectConductor(turno.conductor)"
                dnd-dragend="vmconductores.updateTurnos()" dnd-auto-scroll="true"
                class=" grey lighten-3  collection-item"
                ng-class="{'selected': vmconductores.selectedConductor.id == turno.conductor.id}">
                <div layout="row">
                    <div class="text-turno">
                        <b>{{turno.pos}}</b>
                    </div>
                    <span flex></span>
                    <md-button class="md-icon-button button-quitar-turno" aria-label="quitar-conductor"
                               ng-click="vmconductores.removerConductor($index)">
                        <md-icon md-font-icon="icon-close" class="icon"></md-icon>
                        <md-tooltip>Quitar</md-tooltip>
                    </md-button>
                </div>
                <img class="image-dnd-list" ng-src="http://api.viajaseguro.co/images/conductores/{{turno.conductor.imagen}}" alt="">
                <br>
                <span class="title">{{turno.conductor.nombres}} {{turno.conductor.apellidos}}</span>
            </li>
        </ul>
    </div>
    <div ng-hide="vmconductores.turnos.length">
        <span>La ruta seleccionada no posee conductores en turno</span>
    </div>
</md-content>