<div id="file-manager" class="page-layout simple right-sidenav" layout="row">
    <!-- CENTER -->
    <div class="center" layout="column" flex>
        <!-- HEADER -->
        <div class="header">

            <div class="header-content" layout="column" layout-align="space-between">
                <!-- TOOLBAR -->
                <div class="toolbar" layout="row" layout-align="space-between">
                    <div class="white-fg" layout="column" layout-align="start start">
                        <div class="h1" layout="row" layout-align="start center">
                            <!--<md-icon md-font-icon="icon-store"></md-icon>-->
                            <span>Empresas</span>
                        </div>
                    </div>

                    <div class="right-side" layout="row">
                        <div class="search" layout="row" layout-align="start center" flex>
                            <md-icon md-font-icon="icon-magnify" class="icon search-icon"></md-icon>
                            <input id="search" class="search-input" ng-model="filtro" type="text" placeholder="Buscar">
                        </div>
                    </div>
                </div>
                <!-- / TOOLBAR -->
            </div>

            <!-- ADD NEW EMPRESA-->
            <div id="file-uploader">
                <md-button flow-btn class="add-file-button md-fab md-warn" aria-label="Nueva empresa"
                ng-click="vm.newModalEmpresa($event, 'Nueva')">
                    <md-icon md-font-icon="icon-plus"></md-icon>
                    <md-tooltip><span>Nueva empresa</span></md-tooltip>
                </md-button>
            </div>
            <!-- / ADD NEW EMPRESA -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <md-content class="content" flex ms-scroll>
            <table class="simple list-view">
                <thead>
                <tr>
                    <th></th>
                    <th hide-xs>Nit</th>
                    <th>Nombre</th>
                    <th hide-xs>Direccion</th>
                    <th hide-xs>Telefono</th>
                    <th hide-xs>Estado</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="empresa in vm.empresas | filter: filtro"
                    ng-click="vm.selectedEmpresa(empresa, $index)"
                    ng-class="{'selected' : vm.selected === empresa}">
                    <td>
                        <img class="imagen-empresa"ng-src="http://localhost:1337/images/empresas/{{empresa.logo}}" >
                    </td>
                    <td class="name" hide-xs>{{empresa.nit}}</td>
                    <td class="type">{{empresa.nombre_corto}}</td>
                    <td class="owner" hide-xs>{{empresa.direccion}}</td>
                    <td class="size" hide-xs>{{empresa.telefono}}</td>
                    <td class="last-modified" hide-xs ng-if="empresa.activa == true"> activa</td>
                    <td class="last-modified" hide-xs ng-if="empresa.activa != true"> inactiva</td>
                </tr>

                </tbody>
            </table>
        </md-content>
        <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->

    <!-- SIDENAV -->
    <md-sidenav class="sidenav details-sidenav md-sidenav-right" md-is-locked-open="$mdMedia('gt-md')"
                md-component-id="details-sidenav" ms-scroll
                ms-sidenav-helper>
        <div class="header" layout="column" layout-align="space-between">
            <div class="toolbar" layout="row" layout-align="end center">
                <md-button ng-click="vm.deleteEmpresa($event)" class="md-icon-button" aria-label="Eliminar">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                    <md-tooltip><span>Eliminar</span></md-tooltip>
                </md-button>

                <md-button ng-click="vm.newModalEmpresa($event, 'Modificar')" class="md-icon-button" aria-label="Editar">
                    <md-icon md-font-icon="icon-pencil"></md-icon>
                    <md-tooltip><span>Editar</span></md-tooltip>
                </md-button>
            </div>
            <hr>
            <div class="image-content">
                <h1 class="title-empresa">{{vm.selected.nombre_corto}}</h1><br>
                <img alt="{{vm.selected.nombre_corto}}" class="empresa-imagen" ng-src="http://localhost:1337/images/empresas/{{vm.selected.logo}}">
            </div>
            <hr>
        </div>

        <!--contenido-->
        <md-content class="content" flex ms-scroll>
            <h3 style="text-align: center"><b>{{vm.selected.nombre_largo}}</b></h3>
        </md-content>
    </md-sidenav>
    <!-- / SIDENAV -->
</div>