<fieldset class="datos-usuario-empresa">
    <legend>Contratante</legend>
    <div layout="row">
        <md-input-container flex="70">
            <label>Nombre</label>
            <input name="nombre" ng-model="vm.despacho.contratante.nombre" readonly>
        </md-input-container>
        <md-input-container flex>
            <label>C.C. o Nit</label>
            <input name="nombre" ng-model="vm.despacho.contratante.identificacion" readonly>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container flex>
            <label>Objeto del contrato</label>
            <input name="objeto" ng-model="vm.despacho.objeto_contrato">
        </md-input-container>
    </div>
</fieldset>

<fieldset class="datos-usuario-empresa">
    <legend>Recorrido</legend>
    <div layout="row">
        <md-input-container flex>
            <label>Origen</label>
            <input name="nombre" ng-model="vm.despacho.origen.nombre" readonly>
        </md-input-container>
        <md-input-container flex>
            <label>Destino</label>
            <input name="nombre" ng-model="vm.despacho.destino.nombre" readonly>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container flex>
            <label>Recorrido</label>
            <input name="objeto" ng-model="vm.despacho.trayecto">
        </md-input-container>
    </div>
</fieldset>

<fieldset class="datos-usuario-empresa">
    <legend>Vigencia</legend>
    <div layout="row">
        <md-input-container flex>
            <label>Fecha Inicial</label>
            <input name="nombre" ng-model="vm.despacho.vigencia_fi" readonly>
        </md-input-container>
        <md-input-container flex>
            <label>Fecha Vencimiento</label>
            <input name="nombre" ng-model="vm.despacho.vigencia_fn" readonly>
        </md-input-container>
    </div>
</fieldset>

<fieldset class="datos-usuario-empresa">
    <legend>Caracteristicas del vehiculo</legend>
    <div layout="row">
        <md-autocomplete flex required
                         md-input-name="placa"
                         md-search-text="vm.searchText"
                         md-min-length="3"
                         md-items="item in vm.querySearch(vm.searchText)"
                         md-selected-item-change="vm.selectedVehiclo(item)"
                         md-item-text="item.display"
                         md-require-match
                         md-floating-label="Placa">
            <md-item-template>
                <span md-highlight-text="vm.searchText">{{item.display}}</span>
            </md-item-template>
            <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                <div ng-message="required">You <b>must</b> have a favorite state.</div>
                <div ng-message="md-require-match">Please select an existing state.</div>
                <div ng-message="minlength">Your entry is not long enough.</div>
                <div ng-message="maxlength">Your entry is too long.</div>
            </div>
        </md-autocomplete>
        <md-input-container flex>
            <label>Modelo</label>
            <input name="nombre" ng-model="vm.despacho.conductor.vehiculo.modelo" readonly>
        </md-input-container>
        <md-input-container flex>
            <label>Marca</label>
            <input name="nombre" ng-model="vm.despacho.conductor.vehiculo.marca" readonly>
        </md-input-container>
        <md-input-container flex>
            <label>clase</label>
            <input name="nombre" ng-model="vm.despacho.conductor.vehiculo.clase" readonly>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container flex="40">
            <label>Numero Interno</label>
            <input name="nombre" ng-model="vm.despacho.conductor.vehiculo.codigo_vial">
        </md-input-container>
        <md-input-container flex>
            <label>Numero tarjeta de operacion</label>
            <input name="nombre" ng-model="vm.despacho.conductor.vehiculo.ntarjoperacion">
        </md-input-container>
    </div>
</fieldset>

<fieldset class="datos-usuario-empresa">
    <legend>Conductor</legend>
    <div layout="row">
        <md-input-container flex="35">
            <label>Nombre</label>
            <input name="nombre" ng-model="vm.despacho.conductor.nombre_completo">
        </md-input-container>
        <md-input-container flex>
            <label>Cedula</label>
            <input name="nombre" ng-model="vm.despacho.conductor.identificacion" readonly>
        </md-input-container>
        <md-input-container flex>
            <label>No. Licencia</label>
            <input name="nombre" ng-model="vm.despacho.conductor.nlicencia" readonly>
        </md-input-container>
        <md-input-container flex>
            <label>Vigencia</label>
            <input name="nombre" ng-model="vm.despacho.conductor.fecha_licencia" readonly>
        </md-input-container>
    </div>
</fieldset>