.f-especial{
  text-align: center !important;
  border-color: $primary-color !important;
  margin: 10px 10px 10px 10px !important;
  border-radius: 15px !important;
  legend{
    font-size: 16px;
  }
}