<md-menu class="md-menu-solicitudes">
    <md-button class="md-icon-button" aria-label="add-solicitud"
               ng-controller="ListaSolicitudesController as vmsolicitudes"
               ng-click="$mdOpenMenu($event)">
        <md-icon md-font-icon="icon-plus" class="icon"></md-icon>
    </md-button>
    <md-menu-content width="6" class="floatingForm">
        <form name="formNewRuta">
            <md-menu-item id="titulo">
                <h4>Ingresa los datos de la solicitud</h4>
            </md-menu-item>
            <form name="formSolicitud" novalidate>
                <div ng-hide="true">
                    {{vmsolicitudes.solicitud.codigo_ruta = vm.despacho.destino.codigo}}
                </div>
                <div layout="row" layout-padding>
                    <div flex>
                        <div layout="column">
                            <md-input-container>
                                <label>Cedula</label>
                                <input type="text" ng-model="vmsolicitudes.solicitud.cliente.identificacion" autofocus required>
                            </md-input-container>
                            <md-input-container>
                                <label>Telefono</label>
                                <input type="text" ng-model="vmsolicitudes.solicitud.cliente.telefono" required>
                            </md-input-container>
                        </div>
                    </div>
                    <div flex >
                        <div layout="column" >
                            <div flex>
                                <md-input-container>
                                    <label>Nombres</label>
                                    <input type="text" ng-model="vmsolicitudes.solicitud.cliente.nombre" required>
                                </md-input-container>
                            </div>
                            <div flex >
                                <md-input-container>
                                    <label>Dirección</label>
                                    <input type="text" ng-model="vmsolicitudes.solicitud.cliente.direccion" required>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
                <md-menu-item>
                    <div layout="row" id="actions" layout-align="center">
                        <md-button class="boton-guardar-dialog brad-30"
                                   md-prevent-menu-close="md-prevent-menu-close"
                                   ng-disabled="formSolicitud.$invalid"
                                   ng-click="vmsolicitudes.saveNewSolicitud()">
                            Guardar
                        </md-button>
                        <md-button class="boton-cancel-dialog brad-30"
                                   md-prevent-menu-close="md-prevent-menu-close"
                                   ng-click="vmsolicitudes.cancelNesSolicitud()">
                            Cancelar
                        </md-button>
                    </div>
                </md-menu-item>
            </form>
        </form>
    </md-menu-content>
</md-menu>