<div id="origen" layout="row" >
    <h3>Origen</h3>
    <section layout="row" layout-align="center center">
        <md-button ng-repeat="ciudad in vmrutas.ciudades_origen track by $index"
                   aria-label="origen-{{ciudad.codigo}}"
                   ng-click="vmrutas.selectOrigen(ciudad)"
                   ng-class="{'selected': ciudad.codigo == vm.despacho.origen.codigo, 'first': $first, 'last': $last && !currentUser.espec}">
            {{ciudad.nombre}}
            <md-icon ng-if="ciudad.no_central" md-font-icon="icon-close" class="delete-ruta" ng-click="vmrutas.eliminarOrigen($event, ciudad)">
                <md-tooltip>Eliminar</md-tooltip>
            </md-icon>
        </md-button>
        <md-menu ng-if="currentUser.espec">
            <md-button class="last" aria-label="add-ruta" ng-click="$mdOpenMenu($event)">+</md-button>
            <md-menu-content width="4" class="floatingForm">
                <form name="formNewRuta">
                    <md-menu-item id="titulo">
                        <h4>Selecciona la ciudad de origen</h4>
                    </md-menu-item>
                    <md-menu-item>
                        <md-input-container flex>
                            <label>Origen</label>
                            <input name="origen"
                                   required places-auto-complete size=80
                                   component-restrictions="{country:'co'}"
                                   types="['(regions)']"
                                   on-place-changed="vmrutas.OrigenChanged()"
                                   placeholder="Introduce una ubicación">
                        </md-input-container>
                    </md-menu-item>
                    </ng-include>
                    <md-menu-item>
                        <div layout="row" id="actions" layout-align="center">
                            <md-button class="boton-guardar-dialog brad-30"
                                       ng-disabled="!vmrutas.ciudad_origen"
                                       md-prevent-menu-close="md-prevent-menu-close"
                                       ng-click="vmrutas.addOrigen()">
                                Guardar
                            </md-button>
                            <md-button class="boton-cancel-dialog brad-30"
                                       md-prevent-menu-close="md-prevent-menu-close"
                                       ng-click="vmrutas.cancel('ciudad_origen')">
                                Cancelar
                            </md-button>
                        </div>
                    </md-menu-item>
                </form>
            </md-menu-content>
        </md-menu>
    </section>
</div>
<div id="destino" layout="row" class="margin-left-15">
    <h3>Destino</h3>
    <section layout="row" layout-align="center center">
        <md-button ng-repeat="ruta in vmrutas.ciudades_origen[vm.despacho.origen.codigo].rutas track by $index"
                   aria-label="destino-{{ruta.codigo}}"
                   ng-click="vmrutas.selectDestino(ruta)"
                   ng-class="{'selected': ruta.destino == vm.despacho.destino.codigo, 'first': $first}">
            {{ruta.nombre_ciudad}}
            <md-icon ng-if="ruta.no_central" md-font-icon="icon-close" class="delete-ruta" ng-click="vmrutas.eliminarDestino($event, $index)">
                <md-tooltip>Eliminar</md-tooltip>
            </md-icon>
        </md-button>
        <md-menu>
            <md-button class="last" aria-label="add-ruta" ng-click="$mdOpenMenu($event)"
                       ng-class="{'first': vmrutas.ciudades_origen[vm.despacho.origen.codigo].rutas.length == 0}">+</md-button>
            <md-menu-content width="4" class="floatingForm">
                <form name="formNewRuta">
                    <md-menu-item id="titulo">
                        <h4>Selecciona la ciudad de destino</h4>
                    </md-menu-item>
                    <md-menu-item>
                        <md-input-container flex>
                            <label>Destino</label>
                            <input name="destino"
                                   required places-auto-complete size=80
                                   component-restrictions="{country:'co'}"
                                   types="['(regions)']"
                                   on-place-changed="vmrutas.DestinoChanged()"
                                   placeholder="Introduce una ubicación">
                        </md-input-container>
                    </md-menu-item>
                    <md-menu-item>
                        <md-input-container flex id="trayecto">
                            <label>Trayecto</label>
                            <input name="trayecto" ng-model="vmrutas.trayecto_ruta">
                        </md-input-container>
                    </md-menu-item>
                    <md-menu-item>
                        <div layout="row" id="actions" layout-align="center">
                            <md-button class="boton-guardar-dialog brad-30" aria-label="add-destino"
                                       ng-disabled="!vmrutas.ciudad_destino"
                                       md-prevent-menu-close="md-prevent-menu-close"
                                       ng-click="vmrutas.addDestino()">
                                Guardar
                            </md-button>
                            <md-button class="boton-cancel-dialog brad-30" aria-label="cancelar-add"
                                       md-prevent-menu-close="md-prevent-menu-close"
                                       ng-click="vmrutas.cancel('ciudad_destino')">
                                Cancelar
                            </md-button>
                        </div>
                    </md-menu-item>
                </form>
            </md-menu-content>
        </md-menu>
    </section>
</div>