<div class="md-inline-form">
    <p>Digita la documentacion del vehiculo!
        <md-icon md-font-icon="icon-alert-circle" class="red-600-fg md-font"></md-icon>
    </p>

    <div layout="column" layout-gt-xs="row" flex class="menos-espaciado">
        <fieldset>
            <legend>Tecnomecanica</legend>
            <md-input-container flex="100" flex-gt-xs="50">
                <md-switch ng-model="vm.conductor.vehiculo.tecnomecanica" aria-label="Tecnomecanica"></md-switch>
            </md-input-container>
            <md-input-container>
                <md-icon md-font-icon="icon-calendar"></md-icon>
                <input type="date" name="fecha_tecnomecanica" ng-model="vm.conductor.vehiculo.fecha_tecnomecanica"
                       placeholder="Fecha de vencimiento" required>
                <div ng-messages="verticalStep1.fecha_tecnomecanica.$error"
                     ng-show="verticalStep1.fecha_tecnomecanica.$touched"
                     role="alert">
                    <div ng-message="required">
                        <span>Esta fecha es requerida.</span>
                    </div>
                    <div ng-message="valid">
                        <span>No es una fecha valida.</span>
                    </div>
                </div>
            </md-input-container>
        </fieldset>
        <fieldset>
            <legend>Soat</legend>
            <md-input-container flex="100" flex-gt-xs="50">
                <md-switch ng-model="vm.conductor.vehiculo.soat" aria-label="Tecnomecanica"></md-switch>
            </md-input-container>
            <md-input-container>
                <md-icon md-font-icon="icon-calendar"></md-icon>
                <input type="date" name="fecha_soat" ng-model="vm.conductor.vehiculo.fecha_soat"
                       placeholder="Fecha de vencimiento" required>
                <div ng-messages="verticalStep1.fecha_soat.$error"
                     ng-show="verticalStep1.fecha_soat.$touched"
                     role="alert">
                    <div ng-message="required">
                        <span>Esta fecha es requerida.</span>
                    </div>
                    <div ng-message="valid">
                        <span>No es una fecha valida.</span>
                    </div>
                </div>
            </md-input-container>
        </fieldset>
    </div>
</div>