<div class="md-inline-form">
    <p>Digita la informacion personal del conductor!
        <md-icon md-font-icon="icon-alert-circle" class="red-600-fg md-font"></md-icon>
    </p>

    <div layout="column" layout-gt-xs="row" flex class="menos-espaciado">
        <md-input-container flex="100" flex-gt-xs="50">
            <md-icon md-font-icon="icon-credit-card"></md-icon>
            <input type="number" name="identificacion" ng-model="vm.conductor.identificacion"
                   placeholder="Identificación" min="1" required>
            <div ng-messages="verticalStep1.identificacion.$error"
                 ng-show="verticalStep1.identificacion.$touched"
                 role="alert">
                <div ng-message="required">
                    <span>La identificación es requerida.</span>
                </div>
                <div ng-message="min">
                    <span>Este numero no es valido.</span>
                </div>
            </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-xs="50">
            <md-icon md-font-icon="icon-account-circle"></md-icon>
            <input type="text" name="nombres" ng-model="vm.conductor.nombres"
                   placeholder="Nombres" required>
            <div ng-messages="verticalStep1.nombres.$error"
                 ng-show="verticalStep1.nombres.$touched"
                 role="alert">
                <div ng-message="required">
                    <span>El nombre es requerido.</span>
                </div>
            </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-xs="50">
            <md-icon md-font-icon="icon-account-circle"></md-icon>
            <input type="text" name="apellidos" ng-model="vm.conductor.apellidos"
                   placeholder="Apellidos" required>
            <div ng-messages="verticalStep1.apellidos.$error"
                 ng-show="verticalStep1.apellidos.$touched"
                 role="alert">
                <div ng-message="required">
                    <span>Los apiellidos son requeridos.</span>
                </div>
            </div>
        </md-input-container>
    </div>

    <div layout="column" layout-gt-xs="row" flex class="menos-espaciado">
        <md-input-container flex="100" flex-gt-xs="50">
            <md-icon md-font-icon="icon-map-marker-radius"></md-icon>
            <input type="text" name="direccion" ng-model="vm.conductor.direccion"
                   placeholder="Dirección" required>
            <div ng-messages="verticalStep1.nombres.$error"
                 ng-show="verticalStep1.nombres.$touched"
                 role="alert">
                <div ng-message="required">
                    <span>La dirección es requerida.</span>
                </div>
            </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-xs="50">
            <md-icon md-font-icon="icon-phone"></md-icon>
            <input type="number" name="telefono" ng-model="vm.conductor.telefono"
                   placeholder="Telefono" min="1" required>
            <div ng-messages="verticalStep1.telefono.$error"
                 ng-show="verticalStep1.telefono.$touched"
                 role="alert">
                <div ng-message="required">
                    <span>El telefono es requerido.</span>
                </div>
                <div ng-message="min">
                    <span>Este numero no es valido.</span>
                </div>
            </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-xs="50">
            <md-icon md-font-icon="icon-email"></md-icon>
            <input type="email" name="email" ng-model="vm.conductor.email"
                   placeholder="Correo electronico" ng-pattern="/^.+@.+\..+$/">
            <div ng-messages="verticalStep1.email.$error"
                 ng-show="verticalStep1.email.$touched"
                 role="alert">
                <div ng-message="pattern">
                    <span>No es un correo valido.</span>
                </div>
            </div>
        </md-input-container>
    </div>

    <div layout="column" layout-gt-xs="row" flex class="menos-espaciado md-inline-form" layout-align="start">
        <md-input-container flex="100" flex-gt-xs="50">
            <md-icon md-font-icon="icon-alphabetical"></md-icon>
            <label>Tipo de licencia</label>
            <md-select ng-model="vm.conductor.tipo_licencia" required name="tipo_licencia">
                <md-content ms-scroll>
                    <md-option ng-disabled="true">Tipo de licencia</md-option>
                    <md-option ng-value="tipo.nombre" ng-repeat="tipo in vm.tiposLicencia" title="{{tipo.detalle}}"
                               ng-selected=" tipo.nombre === vm.conductor.tipo_licencia ? 'true' : 'false' ">
                        {{tipo.nombre}}
                    </md-option>
                </md-content>
            </md-select>
            <div ng-messages="verticalStep1.tipo_licencia.$error"
                 ng-show="verticalStep1.tipo_licencia.$touched"
                 role="alert">
                <div ng-message="required">
                    <span>El tipo de licencia es requerido.</span>
                </div>
            </div>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="50">
            <md-icon md-font-icon="icon-numeric"></md-icon>
            <input type="number" name="nlicencia" ng-model="vm.conductor.nlicencia"
                   placeholder="Numero de licencia" required>
            <div ng-messages="verticalStep1.nlicencia.$error"
                 ng-show="verticalStep1.nlicencia.$touched"
                 role="alert">
                <div ng-message="required">
                    <span>El numero de licencia es requerido.</span>
                </div>
            </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-xs="50">
            <md-icon md-font-icon="icon-calendar"></md-icon>
            <input type="date" name="fecha_licencia" ng-model="vm.conductor.fecha_licencia"
                   placeholder="Fecha de vencimiento de licencia" required>
            <div ng-messages="verticalStep1.fecha_licencia.$error"
                 ng-show="verticalStep1.fecha_licencia.$touched"
                 role="alert">
                <div ng-message="required">
                    <span>Esta fecha es requerida.</span>
                </div>
                <div ng-message="valid">
                    <span>No es una fecha valida.</span>
                </div>
            </div>
        </md-input-container>
    </div>

    <div layout="column" layout-gt-xs="row" flex class="menos-espaciado md-inline-form" layout-align="start">
        <md-input-container flex="100" flex-gt-xs="50">
            <md-icon md-font-icon="icon-calendar"></md-icon>
            <input type="date" name="fecha_nacimiento" ng-model="vm.conductor.fecha_nacimiento"
                   placeholder="Fecha de nacimiento" required>
            <div ng-messages="verticalStep1.fecha_nacimiento.$error"
                 ng-show="verticalStep1.fecha_nacimiento.$touched"
                 role="alert">
                <div ng-message="required">
                    <span>Esta fecha es requerida.</span>
                </div>
                <div ng-message="valid">
                    <span>No es una fecha valida.</span>
                </div>
            </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-xs="50">
            <md-icon md-font-icon="icon-alphabetical"></md-icon>
            <label>Asignar a central</label>
            <md-select ng-model="vm.conductor.central" required name="central">
                <md-content ms-scroll>
                    <md-option ng-disabled="true">Central a asignar</md-option>
                    <md-option ng-repeat="central in vm.centrales" ng-value="central.id"  title="{{central.ciudad}}"
                               ng-selected="central.id === vm.conductor.central ? 'true' : 'false' ">
                        {{central.ciudad}}
                    </md-option>
                </md-content>
            </md-select>
            <div ng-messages="verticalStep1.central.$error"
                 ng-show="verticalStep1.central.$touched"
                 role="alert">
                <div ng-message="required">
                    <span>La central es requerida.</span>
                </div>
            </div>
        </md-input-container>
    </div>

</div>