<md-dialog aria-label="{{vm.tipoModal}} conductor" flex="80" class="dialog-empresa">
    <md-toolbar class="toolbar-empresa">
        <div class="md-toolbar-tools">
            <h2><b>{{vm.tipoModal}} conductor</b></h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon md-font-icon="icon-close"
                         aria-label="Cerrar modal"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content class="content form-stepper-conductor" flex ms-scroll>
        <ms-form-wizard flex>
            <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
                <md-tab class="md-tab-cond-1">
                    <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep1.$invalid">1</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep1.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Información personal</span>
                            </span>
                    </md-tab-label>

                    <md-tab-body>
                        <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
                            <div ng-include="'app/main/empresas/gestion_conductores/new_conductor/informacion_personal.html'"></div>
                        </form>
                    </md-tab-body>
                </md-tab>

                <div id="md-tab-ed">
                    <md-tab  id="md-tab-cond-2" >
                        <md-tab-label >
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep2.$invalid">2</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep2.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Información del vehiculo (opcional)</span>
                            </span>
                        </md-tab-label>

                        <md-tab-body >
                            <form name="wizardStep2" class="md-inline-form" ms-form-wizard-form novalidate>
                                <div ng-include="'app/main/empresas/gestion_conductores/new_conductor/informacion_vehiculo.html'"></div>
                            </form>
                        </md-tab-body>
                    </md-tab>

                    <md-tab id="md-tab-cond-3" >
                        <md-tab-label >
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep3.$invalid">3</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep3.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Documentación del vehiculo</span>
                            </span>
                        </md-tab-label>
                        <md-tab-body >
                            <form name="wizardStep3" class="md-inline-form" ms-form-wizard-form novalidate>
                                <div ng-include="'app/main/empresas/gestion_conductores/new_conductor/documentacion_vehiculo.html'"></div>
                            </form>
                        </md-tab-body>
                    </md-tab>
                </div>
            </md-tabs>

            <div class="navigation" flex layout="row" layout-align="center center">
                <md-button class="md-raised md-accent" ng-click="msWizard.previousStep()"
                           ng-disabled="msWizard.isFirstStep()">
                    Anterior
                </md-button>
                <div class="steps">
                        <span ng-repeat="form in msWizard.forms"
                              ng-class="{'selected md-accent-bg':msWizard.selectedIndex === $index}"></span>
                </div>
                <md-button class="md-raised md-accent" ng-click="msWizard.nextStep()"
                           ng-hide="msWizard.isLastStep()"
                           ng-disabled="msWizard.currentStepInvalid()">
                    Siguiente
                </md-button>
                <md-button class="md-raised md-warn" ng-click="vm.guardarConductor(); msWizard.resetForm();"
                           ng-show="msWizard.isLastStep()"
                           >
                    Guardar
                </md-button>
            </div>

        </ms-form-wizard>
        <!--<form name="verticalStepper" ms-vertical-stepper ng-submit="vm.guardarConductor()"-->
              <!--ng-model="vm.conductor" novalidate>-->
            <!--<ms-vertical-stepper-step ng-form="verticalStep1" step="1" step-title="'Informacion personal'">-->
                <!--<div ng-include="'app/main/empresas/gestion_conductores/new_conductor/informacion_personal.html'"></div>-->
            <!--</ms-vertical-stepper-step>-->

            <!--<div>-->
                <!--<ms-vertical-stepper-step ng-form="verticalStep2" step="2" step-title="'Informacion del vehiculo (opcional)'">-->
                    <!--&lt;!&ndash;<md-checkbox ng-model="vm.contrato" aria-label="contrato" class="check-todo-izq">&ndash;&gt;-->
                        <!--&lt;!&ndash;Contrato&ndash;&gt;-->
                    <!--&lt;!&ndash;</md-checkbox>&ndash;&gt;-->
                    <!--<div ng-include="'app/main/empresas/gestion_conductores/new_conductor/informacion_vehiculo.html'"></div>-->
                <!--</ms-vertical-stepper-step>-->

                <!--<ms-vertical-stepper-step ng-form="verticalStep3" step="3" step-title="'Documentacion del vehiculo'"-->
                                          <!--hide-step="!vm.conductor.vehiculo">-->
                    <!--<div ng-include="'app/main/empresas/gestion_conductores/new_conductor/documentacion_vehiculo.html'"></div>-->
                <!--</ms-vertical-stepper-step>-->
            <!--</div>-->

        <!--</form>-->
    </md-content>

    <md-dialog-actions layout="row">
        <md-button class="boton-cancel-dialog brad-30" ng-click="vm.cancel()">
            Cancelar
        </md-button>
    </md-dialog-actions>
</md-dialog>
