.menos-espaciado {
  margin-bottom: -25px !important;
}

.form-stepper-conductor {
  md-icon {
    //color: #D50000 !important;
  }
}

.form-stepper-conductor {
  md-datepicker{
    margin-bottom: 10px !important;
  }
  //md-datepicker {
  //  padding-top: 5px;
  //  > button.md-datepicker-button.md-icon-button.md-button {
  //    margin-left: 0px;
  //    margin-right: 0px;
  //    //width: 30px;
  //    height: 30px;
  //    line-height: 30px;
  //    min-height: 30px;
  //  }
  //  > div.md-datepicker-input-container {
  //    margin-left: 8px;
  //    padding-bottom: 4px;
  //  }
  //  &.md-datepicker-open > div.md-datepicker-input-container > input.md-datepicker-input { // Stop the jumping on open
  //    height: inherit;
  //    margin-left: 20px;
  //    // tabindex needs to be -1: https://github.com/angular/material/issues/4755
  //  }
  //}
}
//.md-datepicker-button {
//  display: none;
//}
@media screen and (max-width: $layout-breakpoint-md) {

  .form-stepper-conductor {
    md-datepicker{
      margin-bottom: 10px !important;
    }
    //md-datepicker {
    //  padding-top: 5px;
    //  margin-bottom: 15px;
    //  > button.md-datepicker-button.md-icon-button.md-button {
    //    margin-left: 0px;
    //    margin-right: 0px;
    //    //width: 30px;
    //    height: 30px;
    //    line-height: 30px;
    //    min-height: 30px;
    //  }
    //  > div.md-datepicker-input-container {
    //    margin-left: 8px;
    //    padding-bottom: 4px;
    //  }
    //  &.md-datepicker-open > div.md-datepicker-input-container > input.md-datepicker-input { // Stop the jumping on open
    //    height: inherit;
    //    margin-left: 20px;
    //    // tabindex needs to be -1: https://github.com/angular/material/issues/4755
    //  }
    //}

  }
}