<md-dialog aria-label="cambiar conraseña" flex="40" flex-gt-md="50">
    <md-toolbar class="toolbar-empresa">
        <div class="md-toolbar-tools">
            <h2>Editar ruta</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content layout="column">
        <h2>{{vm.ruta.origen.ciudad}} - {{vm.ruta.destino.ciudad}}</h2>
        <md-input-container flex id="trayecto">
            <label>Trayecto</label>
            <md-chips ng-model="vm.ruta.trayecto" md-removable="true"
                      md-enable-chip-edit="true" placeholder="Pueblos intermedios"></md-chips>
            <!--<input name="trayecto" ng-model="vm.trayecto_ruta" placeholder="Pueblos intermedios">-->
            <span>Escriba el recorrido de la ruta, presione enter para escribir varios recorridos. Recuerde, el primero en la lista sera seleccionado por defecto en los despachos.</span>
        </md-input-container>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button class="brad-30" style="background-color: lightgray;"
                   md-prevent-menu-close="md-prevent-menu-close"
                   ng-click="vm.deleteRoute()">
            Eliminar
        </md-button>
        <md-button class="boton-guardar-dialog brad-30"
                   md-prevent-menu-close="md-prevent-menu-close"
                   ng-click="vm.saveRuta()">
            Guardar
        </md-button>
        <md-button class="boton-cancel-dialog brad-30"
                   md-prevent-menu-close="md-prevent-menu-close"
                   ng-click="vm.cancel()">
            Cancelar
        </md-button>
    </md-dialog-actions>
</md-dialog>